<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>#{title}</title>
style 
    include ../static/style.css
</head>

<body>      
    <nav id="navbar">
       <ul>
       <li><a href="/">Home</a></li>
       <li><a href="/">About</a></li>
       <li><a href="/">Contact Us</a></li>
       </ul>
    </nav>
    <div class="bgImg">
        <img src="../static/Img/BGImage.png"/>
        <div class="title">PAPPU'S GYM</div>
        <div class="quote">IF YOU WANT BETTER RESULTS, MAKE BETTER CHOICES.</div>
        <button class="btn-2">Get Started</button>
    </div>
    <div class="container">      
       <h2>Get this gym member for 60$-fill this form hurry now!</h2>
        <form action="/" id="contact" method="post">
            <input type="text" name="name" placeholder="Enter your name">
            <input type="text" name="age" placeholder="Enter your age" id="age">
            <input type="text" name="gender" placeholder="Enter your gender" id="gender">
            <textarea name="address" id="more" cols="30" rows="10" placeholder="more about you"></textarea>
            <button class="btn">Submit</button>
        </form> 
    </div>
    //-    <h1>using plain html h1</h1>
    //-    <p>| #{content}
</body>
</html>